In [43]:
import shutil
import pandas as pd
import numpy as np

In [3]:
! ls ..

code data ref  text

# Посмотрим на данные

In [4]:
df = pd.read_excel('../data/BlastsOnline/MasterlistAug30-2017.xlsx')

In [5]:
df.head()

,Unnamed: 0,Unnamed: 1,File Name,GRADE,Expansion,ICM,TE,Outcome,Acquisition Year
0,NaN,NaN,NaN,According to the Gardner's Method,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Blast_PCRM_R12-0137,4AA,4.0,A,A,1.0,2012
2,NaN,NaN,Blast_PCRM_R12-0160,4AA,4.0,A,A,1.0,2012
3,NaN,NaN,Blast_PCRM_R12-0173a,3AB,3.0,A,B,0.0,2012
4,NaN,NaN,Blast_PCRM_R12-0173b,2AA,2.0,A,A,0.0,2012

In [23]:
df = df[['File Name', 'GRADE']]
df.dropna(inplace=True)

In [26]:
df.head()

              File Name GRADE
1   Blast_PCRM_R12-0137   4AA
2   Blast_PCRM_R12-0160   4AA
3  Blast_PCRM_R12-0173a   3AB
4  Blast_PCRM_R12-0173b   2AA
5  Blast_PCRM_R12-0221a   3AA

In [25]:
good = ['AA', 'AB']
avg = ['BB', 'AC', 'BA']
bad = ['CC', 'BC', 'CB']

In [34]:
df['markup'] = np.nan
for idx, row in df.iterrows():
    if row['GRADE'][1:] in good:
        df['markup'][idx] = 'good'
    elif row['GRADE'][1:] in avg:
        df['markup'][idx] = 'avg'
    elif row['GRADE'][1:] in bad:
        df['markup'][idx] = 'bad'

/var/folders/1d/q9dqxw4d05q93135d97kmfym0000gn/T/ipykernel_22312/2422043504.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['markup'][idx] = 'good'
/opt/homebrew/Caskroom/miniforge/base/envs/my_env/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [38]:
df.dropna(inplace=True)

In [39]:
df.head()

              File Name GRADE markup
1   Blast_PCRM_R12-0137   4AA   good
2   Blast_PCRM_R12-0160   4AA   good
3  Blast_PCRM_R12-0173a   3AB   good
4  Blast_PCRM_R12-0173b   2AA   good
5  Blast_PCRM_R12-0221a   3AA   good

In [40]:
df.markup.value_counts('f')

good    0.654618
avg     0.305221
bad     0.040161
Name: markup, dtype: float64

In [42]:
df.shape

(249, 3)

In [51]:
for _, row in df.iterrows():
    src = f"/Users/kirill/code/diploma/data/BlastsOnline/Images/{row['File Name']}.BMP"
    dst = f"/Users/kirill/code/diploma/data/BlastsOnline/{row['markup']}/{row['File Name']}-{row['GRADE']}.BMP"
    try:
        shutil.copyfile(src, dst)
    except:
        print(row['File Name'])

Blast_PCRM_2 x 2AB d5 left.BMP
Blast_PCRM_2 x 2AB d5 right.BMP